### Python: Por Onde Começar e Quais Suas Aplicações?

**Cursos de Capacitação - Faculdade Martha Falcão 2021.1** <br>
**Facilitador**: Orlewilson Bentes Maia <br>
**Data**: 18/02/2021 <br>
https://orlewilson.github.io/

### Exemplo 01 - Pandas - usando variável do tipo Series

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
# criação
notas = pd.Series([2,7,5,10,6])

In [ ]:
# manipulação
print(notas)

In [ ]:
print(notas.values)

print(notas.index)

In [ ]:
notas = pd.Series([2,7,10,5], index=["Wilson", "Bruno", "Nic", "Cris", ])

print(notas)

In [ ]:
print(notas["Bruno"])

In [ ]:
print("Média:", notas.mean())
print("Desvio padrão:", notas.std())

In [ ]:
print(notas.describe())

In [ ]:
print(notas**2)

In [ ]:
print(np.log(notas)) # aplicando a operação matemática logarítmo nos dados numéricos

### Exemplo 02 - Pandas - usando variável do tipo DataFrame

In [26]:
# criação

cursoPython = pd.DataFrame({'Aluno' : ["Wilson", "Bruno", "Nic", "Cris"],
                            'Faltas' : [1,2,0,4],
                            'Prova' : [5,6,9,6],
                            'Seminário': [5.3,8,7,6],
                            'Conceito': ['A', 'A', 'B', 'B']})

In [ ]:
# manipulação
print(cursoPython)

In [ ]:
print("Média Faltas: ", cursoPython["Faltas"].mean())

print("Média Notas Prova: ", cursoPython["Prova"].mean())

In [ ]:
print(cursoPython.describe())

In [ ]:
print(cursoPython.sort_values(by="Prova"))

In [ ]:
print(cursoPython[(cursoPython["Faltas"] <= 2) & (cursoPython["Prova"] >= 6)])

In [23]:
# salvar DataFrame em um arquivo CSV
cursoPython.to_csv("oficina_python.csv")

### Exemplo 03 - Pandas - leitura de arquivo .csv e visualização de dados

In [28]:
# leitura de dados
df = pd.read_csv("airbnb-nyc-2019.csv", sep=";")

In [30]:
# manipulação dos dados lidos
print(df)

      neighbourhood        room_type  price  number_of_reviews
0          Brooklyn     Private room  149.0                9.0
1         Manhattan  Entire home/apt  225.0               45.0
2         Manhattan     Private room  150.0                0.0
3          Brooklyn  Entire home/apt   89.0              270.0
4         Manhattan  Entire home/apt   80.0                9.0
...             ...              ...    ...                ...
49075      Brooklyn     Private room   70.0                0.0
49076      Brooklyn     Private room   40.0                0.0
49077     Manhattan  Entire home/apt  115.0                0.0
49078     Manhattan      Shared room   55.0                0.0
49079     Manhattan     Private room   90.0                0.0

[49080 rows x 4 columns]

In [ ]:
df2 = df[(df["price"] >= 0)]

print(df2.groupby("neighbourhood").mean()["price"].sort_values())

print(df2.groupby("neighbourhood").mean()["price"].sort_values().nlargest(5))


# visualização dos dados lidos
df2["price"].plot.hist()
plt.show() # mostrar janela

df2["price"].plot.hist(bins=30, edgecolor='black')
plt.show()


df2["neighbourhood"].value_counts().nlargest(5).plot.bar()
plt.show()

df2["neighbourhood"].value_counts().nlargest(5).plot.barh(title="Número de apartamentos")
plt.show()